<!DOCTYPE html>
<html ng-app="searchApp">
<head>
  <meta charset="utf-8">
  <title>Buscador ofertas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="angular-resource.min.js"></script>
  <script type="text/javascript" src="angular-ui-router.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="services.js"></script>
  <script type="text/javascript" src="controllers/event.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="ui-bootstrap-tpls-0.10.0.min.js"></script>

  <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="lib/css/simple-sidebar.css">
  <link rel="stylesheet" type="text/css" href="mystyle.css">

<link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
</head>
<body class="cbp-spmenu-push">


<div ng-controller="SearchCtrl">

 <div id="wrapper">
        <!-- Sidebar -->
        <!--Mirar esta web para slide left menu http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <h3>Menu</h3>
      
      <a href="ofertas.html"><i class="glyphicon glyphicon-list-alt"></i> Ofertas</a>
      <a href="clientes.html"><i class="glyphicon glyphicon-user"></i> Clientes</a>
      <a href="catalogo.html"><i class="glyphicon glyphicon-th"></i> Catálogo</a>
      <a href="perfil.html"><i class="glyphicon glyphicon-user"></i> Perfil</a>
      </nav>

        
  <!-- Page content -->
  <div id="page-content-wrapper">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="showLeftPush" type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#sidebar-wrapper" style="margin-left:2%; margin-right:0px">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="#">Ofertas</a>
      </div>

      
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
     
    </div><!-- /.container-fluid -->
  </nav>

    <tabset>
        <tab heading="Ofertas Servicio" >
        
        <form class="form-horizontal" role="form" style="margin-top:15px; padding-left:15px; padding-right:15px">
          <div class="form-group has-feedback">

            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputSuccess3" placeholder="Buscar oferta">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
            <div class="col-xs-4" style="">
              <button type="button" class="btn btn-md btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Nueva Oferta
              </button>
            </div>
          </div>
        </form>

        </tab>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
          {{tab.content}}
        </tab>
        <tab select="alertMe()">
          <tab-heading>
           Ofertas Aceptadas
          </tab-heading>
          <form class="form-horizontal" role="form" style="margin-top:15px">
          <div class="form-group has-feedback">

            <div class="col-xs-10">
              <input type="text" class="form-control" id="inputSuccess3" placeholder="Buscar oferta">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
            <div class="col-xs-2" style="">
              
            </div>
          </div>
        </form>
        </tab>
    </tabset>
    
    <ul  class="list-group">
      <li ng-repeat="oferta in ofertas" class="list-group-item" style="cursor:pointer;" onclick="location.href='detalle.html'">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/empty-image.png" alt="..." width="50px" height="50px">
          </a>
          <div class="media-body">
            <div class="row">
              <div class="col-xs-6">
                <p class="media-heading catalogo-articulo-nombre">Mantenimiento Local Restaurante</p>
                Oferta: {{oferta.num}}
                | {{oferta.cliente}}
                
              </div>
              <div class="col-xs-3" >
                <p>Datos adjuntos</p>
                <span class="glyphicon glyphicon-picture"></span> | <span class="glyphicon glyphicon-file"></span>
              </div>
              <div class="col-xs-3" style="text-align:right">                
                <i>{{oferta.fecha}}</i>
              </div>
            </div>
            
          </div>
        </div>
      </li>
      
    </ul>
     <div class="gridStyle" ng-grid="tab.grid"></div>   
  <footer ng-include="'templates/footer.html'"></footer>
    <div ng-view></div>
  </div>
</div>

</div>

<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script src="js/classie.js"></script>
    <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

        classie.toggle(showLeftPush, 'active');

    
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      

      function disableOther( button ) {
        
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
       
      }
    </script>
</body>
</html>